<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_github_1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_github_1">

<!--
        https://minpro.net/apps-targeting-android-12-and-higher-are-required-to-specify-an-explicit-value-for-android-exported
        exported属性を付与しないと以下のエラーが出る。
        Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported
-->
        <activity
            android:name=".github.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>